<%% form_for(@<%= singular_name %>) do |f| %>
  <%%= f.error_messages %>

<% for attribute in attributes -%>
  <div><%%= f.label :<%= attribute.name %> %><%%= f.<%= attribute.field_type %> :<%= attribute.name %> %></div>
<% end -%>
  <div class="buttons"><%%= f.submit button_name %></p>
<%% end %>